:root {
    --main-font: 'Raleway', sans-serif;
    --main-numerical-font: "Cabin", sans-serif;
    --main-font-color: #070805;
    --background-color: #f5f8f3;
    --green-primary: #9ed775;
    --green-secondary: #b7d4a2;
    --green-accent: #99c877;
    --green-hover: #cee5be;
    --green-card-background: #e4f2da;

}