@import 'bootstrap/scss/bootstrap';

body {
  margin: 0;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  // background: #f9f9f9 !important;

  background: #f5f8f3 !important;
}

