
.header {
  // background-color: #e9f7f0; 
  background-color: #157a6e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  .container {
    .logo {
      max-width: 50px; 
      margin-right: 1rem;
    }

    .site-name {
      color: #D19C1D; 
      margin: 0;
      font-size: 2rem; 
      font-weight: 700;
    }
  
    .nav-link {
      color: #D19C1D; 
      font-weight: 600;
      &:hover {
        color: #a5d6a7; 
      }
    }
  }
}