.quote-card {
  background-color: #fff; 
  border-radius: 0.5rem; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  font-size: 1rem; 
  margin-bottom: 1rem; 
  margin: 0 auto;
  max-width: 960px;

  .card-body {
    padding: 2rem; 
  }

  .provider-logo img {
    width: 100px; 
    height: auto; 
  }

  .rate-score {
    .badge {
      font-size: 0.9rem; 
      border-radius: 50%; 
      width: 2.5rem; 
      height: 2.5rem; 
      display: flex; 
      align-items: center;
      justify-content: center; 
      color: #fff; 
    }

    .provider-name {
      margin-left: 0.5rem; 
      font-weight: bold; 
    }
  }

  .rate-row {
    margin-bottom: 1rem;

    .rate-details {
      min-width: 300px;

      .exchange-rate {
        .exchange-rate-label {
          color: #6c757d; 
        }

        .exchange-rate-value {
          font-weight: bold; 
        }
      }

      .rate-obtained {
        margin-top: -0.2rem;
        color: #6c757d;
        .rate-obtained-label {
          font-size: small;
        }
      }
    }
  }

  .transfer-row {
    .transfer-details {
      min-width: 300px;

      .transfer-time-label {
        color: #6c757d; 
      }

      .transfer-time-value {
        font-weight: bold; 
      }

      .payment-method {
        .payment-method-label {
          color: #6c757d; 
        }

        .payment-method-value {
          font-weight: bold; 
        }
      }
    }
  }

  .amount-col {
    .recipient-gets {
      font-size: 1.25rem; 
      font-weight: bold; 
      color: #333; 
    }

    .fee {
      .fee-label {
        color: #6c757d;
      }

      .fee-value {
        font-weight: bold;
      }
    }

    .provider-button {
        margin-top: 2rem;
    }
  }

  .btn {
    background-color: #157a6e; 
    border-color: #157a6e; 
    padding: 0.5rem;
    min-width: 40px;
    &:hover {
      background-color: darken(#157a6e, 5%); 
      border-color: darken(#157a6e, 5%); 
    }
  }
}
